# *Google Analytics*
NEXT_PUBLIC_GA_ID=

# *Neon Database*
DATABASE_URL=""
DIRECT_URL=""

# *Clerk*
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=
CLERK_SECRET_KEY=

NEXT_PUBLIC_CLERK_SIGN_IN_URL=/sign-in
NEXT_PUBLIC_CLERK_SIGN_UP_URL=/sign-up

# *Sanity*
NEXT_PUBLIC_SANITY_DATASET="production"
NEXT_PUBLIC_SANITY_PROJECT_ID=""
SANITY_API_VERSION=""
SANITY_REVALIDATE_SECRET=""